@use "../sassStyles/variables";
@use "../sassStyles/typography";

.header-container {
  display: flex;
  align-items: center;
  background-color: variables.$main-background;
  padding: 0.8rem 0.5rem 0.8rem 0.5rem;
  column-gap: 1rem;
  :first-child {
    margin-right: auto;
  }
  button {
    color: variables.$light-text-color;
    border: none;
    font: inherit;
    cursor: pointer;
    font-size: larger;
    text-decoration: none;
  }
}

.projectTitle {
  font-size: x-large;
  color: variables.$light-text-color;
  font-family: "Rampart One", cursive;
  letter-spacing: typography.$tracking-wide;
}
.subtitle {
  font-size: larger;
  color: variables.$light-text-color;
}
