.recoveryGrid {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  justify-items: center;
  margin: 2rem 0;
  text-align: center;
}
.recovery-notice {
  font-size: xx-large;
  font-weight: bold;
}
.recovery-text {
  font-size: x-large;
}
